
html,
body, #root, .magic-app {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

* {
	box-sizing: border-box;
}

.ant-popover-buttons {
	display: flex;
	justify-content: center;
}
